.middle-panel{
    flex: 0.5;
    border-right: 1px solid white;
    overflow-y: scroll;
}

.middle-panel-header{
    position: sticky;
    background-color: black;
    top: 0;
    padding: 15px 20px;
    border-bottom: 1px solid white;
}

.middle-panel::-webkit-scrollbar{
    display: none;
}

.middle-panel-seperator{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid white;
}

.for-you:hover{
    border-bottom: 5px solid #00acee;
    cursor : pointer;
}

.following:hover{
    border-bottom: 5px solid #00acee;
    cursor : pointer;
}